/* - - - - - - - - - - - - - - - - - - - - -

For Internet Explorer 7 

- - - - - - - - - - - - - - - - - - - - - */
button[type] {
	padding: 4px 10px 3px 7px;
}

#build #addFields {
	margin: 25px 0 0 -360px;
}

#colorPicker[id] ul {
	height: 7.8em;
}

#patternList {
	height: 9.7em;
}

#customMenu,#buttonMenu,#advancedMenu {
	margin: 2.1em 0 0 0;
	height: 9.6em;
}

select.select[class] {
	margin: 1px 0;
}